/**
 * Copyright 2015 - Mendix Technology BV
 *
 * Author: Chad Evans
 * Description: Provides a alternative to a check box, commonly referred to as a slider control.
 * Does not require any javascript, and is styled via css. Can be used in both web and mobile contexts.
 */

.wgt-BooleanSlider {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    padding: 0 20px;
    border: none;
    overflow: visible;
    width: 51px;
    height: 32px;
    z-index: 0;
    text-align: left;
}
.wgt-BooleanSlider__input {
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0;
    border: 0;
    opacity: 0.001;
    z-index: 1;
    vertical-align: top;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 51px;
    height: 44px;
    margin-top: -6px;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.wgt-BooleanSlider__toggle {
    background-color: #ddd;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.wgt-BooleanSlider__toggle:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    content: '';
    -webkit-border-radius: 28px;
    border-radius: 28px;
    height: 28px;
    width: 28px;
    background-color: #fff;
    left: 2px;
    top: 2px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.5, 1);
    -moz-transition-timing-function: cubic-bezier(0.5, 1.6, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0.5, 1.6, 0.5, 1);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.5, 1);
}
.wgt-BooleanSlider__input:checked + .wgt-BooleanSlider__toggle {
    background-color: #5198db;
}
.wgt-BooleanSlider__input:checked + .wgt-BooleanSlider__toggle:before {
    -webkit-transform: translateX(18px);
    -moz-transform: translateX(18px);
    -ms-transform: translateX(18px);
    -o-transform: translateX(18px);
    transform: translateX(18px);
}
.wgt-BooleanSlider__input:not(:checked) + .wgt-BooleanSlider__toggle:before {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}
.wgt-BooleanSlider__input:disabled + .wgt-BooleanSlider__toggle {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}